<li class="list-group-item d-flex justify-content-between align-items-center">
	<p>Burger:</p>
    <p><strong>{{burger_name}}</strong></p>
    <span>
		<button class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DELETE IT!{{else}}EAT IT!{{/if}}
		</button>
	</span>
</li>
